body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #000000;
    color: #f0f0f0;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1, h2 {
    color: #e0e0e0;
}

p {
    color: #b0b0b0;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.navbar {
    background-color: rgba(31, 31, 31, 0.0);
    padding: 15px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex; /* Flexbox für die Navbar aktivieren */
    justify-content: space-between; /* Platz zwischen Logo und Menü schaffen */
    align-items: center; /* Vertikal in der Mitte halten */
}

.logo {
    font-size: 23px; /* Schriftgröße für das Logo */
    color: #f0f0f0; /* Farbe für das Logo */
    margin-left: 2vw; /* Dynamischer Abstand zum linken Rand */
    padding: 0.5vh 1vw; /* Dynamisches Padding für das Logo */
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 5vw; /* Dynamisches Padding basierend auf der Fensterbreite */
    display: flex;
    justify-content: flex-end; /* Optionen nach rechts ausrichten */
    align-items: center; /* Vertikal in der Mitte halten */
    flex-wrap: nowrap; /* Verhindert, dass die Optionen in die nächste Zeile umbrechen */
}

.navbar ul li {
    margin: 0 30px;
}

.navbar ul li a {
    color: #f0f0f0;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff2a2a;
}

.main-content {
    position: absolute; /* Absolute Positionierung für den Hauptinhalt */
    top: 50%; /* 50% von oben */
    left: 9%; /* Abstand zum linken Rand */
    transform: translateY(-50%); /* Zentriere den Inhalt vertikal */
    padding: 80px;
    color: #f0f0f0;
}

header {
    margin-bottom: 20px;
}

#about{
    font-size: 14px;
}
#about p {
    max-width: 600px; /* Begrenzte Breite für Text, damit er umgebrochen wird */
    line-height: 1.6; /* Zeilenabstand für bessere Lesbarkeit */
}

section {
    margin-bottom: 40px;
}

#myName {
    font-size: 50px;
    color: #f0f0f0;
    margin-bottom: -20px;
}

#role {
    font-size: 32.5px;
    color: #ff2a2a;
    margin-bottom: 0px;
}

#location {
    font-size: 15px;
    color: #f0f0f0;
    font-weight: bold;
}

#videoBackground {
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    -webkit-filter: blur(30px);
    -o-filter: blur(15px);
    filter: blur(12px) brightness(20%);
    object-fit: cover;
    transform: scale(1.06); /* Hide edge blur */
}
#container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
    .navbar ul {
        padding-right: 5vw;
    }

    .navbar ul li {
        margin: 0 30px;
    }

    .main-content {
        padding: 100px 10px;
    }

    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video {
        width: auto;
        height: 100%;
    }
}
